<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {%load static%}
    <link rel='stylesheet' type='text/css' href="{% static 'polls/style.css'%}">
</head>
<body>
    <div class="title">
        <h1>출입국 허가</h1>
        <h2>(COVID-19)</h2>
    </div>
    <nav class="header">
        <ul>
            <li><a href="/polls/main/">메인</a></li>
            <li><a href="/polls/regions/">국내 지역별 현황</a></li>
            <li><a href="/polls/nations/">해외 현황</a></li>
            <li><a href="/polls/departure/">출입국 현황</a></li>
        </ul>
    </nav>
    <div class="banner">
        {%if latest_krdaily_list%}
            <h3>최근 5일간의 확진자 동향</h3>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">날짜</th>
                    <th scope="col">확진자수</th>
                    <th scope="col">사망자수</th>
                    <th scope="col">격리해제(치료)</th>
                    <th scope="col">검사중</th>
                    <th scope="col">결과음성</th>
                  </tr>
                </thead>
                <tbody>
                    {%for daily_data in latest_krdaily_list%}
                        <tr>
                            <th scope="row">{{daily_data.kr_date}}</th>
                            <td>{{daily_data.kr_confirmed}}</td>
                            <td>{{daily_data.kr_death}}</td>
                            <td>{{daily_data.kr_released}}</td>
                            <td>{{daily_data.kr_candidate}}</td>
                            <td>{{daily_data.kr_negative}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
              </table>
        {%endif%}
    </div>
</body>