<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {%load static%}
    <link rel='stylesheet' type='text/css' href="{% static 'polls/style.css'%}">
</head>
<body>
    <div class="title">
        <h1>출입국 허가</h1>
        <h2>(COVID-19)</h2>
    </div>
    <nav class="header">
        <ul>
            <li><a href="/polls/main/">메인</a></li>
            <li><a href="/polls/regions/">국내 지역별 현황</a></li>
            <li><a href="/polls/nations/">해외 현황</a></li>
            <li><a href="/polls/departure/">출입국 현황</a></li>
        </ul>
    </nav>
    <div class="banner">
        <p>이 페이지는 국내 지역별 관련</p>
    </div>
</body>