<!-- C\Code\mysite\elections\templates\elections\index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>corona</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>이름</B></td>
            <td><B>소개</B></td>
            <td><B>위험도</B></td>
            <td><B>입국가능여부</B></td>
        </tr>
        </thead>
        <tbody>
        {% for country in countries %}
        <tr>
            <td> {{country.name}} </td>
            <td> {{country.information}} </td>
            <td> {{country.safety}} </td>
            <td>{{country.entrance}}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>